<template>
  <div class="loading">
    <div class="text-xs-center">
      <v-progress-circular indeterminate color="primary"></v-progress-circular>
    </div>
  </div>
</template>

<style scoped>
.loading {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}
</style>
